<h1 mat-dialog-title >Esta seguro?</h1>
<hr>
<mat-dialog-content class="mat-typography">
  <p>
    Esta seguro de borrar {{ data.superhero }}
    <br>
    Desea continuar?
  </p>


</mat-dialog-content>
<mat-dialog-actions fxLayout="column">

  <div fxLayout="row">
    <button mat-button
            mat-dialog-close
            (click)="borrar()">
      Si, Borrar
    </button>

    <button mat-button
            mat-dialog-close
            (click)="cerrar()">
            No, Mantener
    </button>
  </div>
</mat-dialog-actions>


